<h1>questa èa la mia homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<<<<<<< HEAD

=======
>>>>>>> 49f697846b9aacf7ed3760f9ce39839c18da2f32
<p><%= link_to "cliCCa qui", about_path %> per scoprire di più</p>
